* {
    box-sizing: border-box;
}
:root {
    --main-font: Roboto, sans-serif;
    --secondary-font: Raleway, sans-serif;

    /*text color*/
     --accent-cl: #121212; 
    --main-txt-cl: #1E1E1E;
    --secondary-txt-cl: ;

    /*bacground colors*/
    --accent-cl: #F5F4FA;;
    --main-bg-cl: #E0E0E0;
    --secondary-bg-cl: ;

}
body {
    font-family: var(--main-font);
    font-size: 14px;
    line-height: 1.86;
    letter-spacing: 0.02em;
    color: var(--main-txt-cl);
}
.link {
text-decoration: none;
 color: currentColor; 

}
.link {
    font-family: Roboto;
    font-weight: 300;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    color: #555555;
}
.btn {
    font-family: inherit;
    font-weight: 600;
        font-size: 12px;
        line-height: 1.33;
        letter-spacing: 0.09em;
        text-transform: uppercase;
        background-color: transparent;
}
.btn:hover,
.btn:focus {
    background-color: #555555;
    color: #F5F4FA;
}
.btn-mode-light {
    color: #1E1E1E;
}
.btn-mode-dark {
    color: #E0E0E0;
}


/* /*Шапка профілю */


.header {
    background-color: var(--accent-cl);
}
.navigation-link,
.header-phone {
    font-family: Roboto;
        font-weight: 300;
        font-size: 12px;
        line-height: 1.33;
        letter-spacing: 0.1em;
        color: #555555;
}

/* Секція герой */




















           