* {
    box-sizing: border-box;
}
:root {
    --main-font: Roboto, sans-serif;
    --secondary-font: Raleway, sans-serif;

    /*text color*/
    --accent-cl: #FF6C00;
    --main-txt-cl: #555555;
    --secondary-txt-cl: ;

    /*bacground colors*/
    --accent-cl: #F5F4FA;
    --main-bg-cl: ;
    --secondary-bg-cl: ;

}

body {
    font-family: var(--main-font);
    font-size: 14px;
    line-height: 1.86;
    letter-spacing: 0.02em;
    color: var(--main-txt-cl);
}
.link {
text-decoration: none;
color: currentColor;
}
.btn {
    font-family: inherit;
    color: currentColor;
    display: block;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.875;
        text-align: center;
        background-color: var(--color-brand);
        color: var(--color-light);
        transition-property: backround-color;
        transition-duration: 250s;
        transition-timing-function: (0.4, 0, 0.2, 1);
        border: none;
        width: 200px;
        height: 50px;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
}
.link {
    font-family: Roboto;
    font-weight: 300;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    color: #555555;
}

/* /*Шапка профілю */


.header {
    background-color: var(--accent-cl);
}
.navigation-link,
.header-phone {
    font-family: Roboto;
        font-weight: 300;
        font-size: 12px;
        line-height: 1.33;
        letter-spacing: 0.1em;
        color: #555555;
}

/* .container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
} */

/*header {
    width: 100%;
    height: 400px;
    overflow: hidden;
    /* background: lightblue; */
   /* background-size: cover;
}
img {
    min-width: 100%;
    height: auto;
    display: block;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.btn {
    background-color: #fff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    animation: pulse 1.5s infinite;
}
@keyframes pulse {
    0% {transform: scale(1);}
    50% {transform: scale(1.1);}
    100% {transform: scale(1);}
}
/* Стилі для модального вікна */
/*.hero-button {
    display: block;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    text-align: center;
    background-color: var(--color-brand);
    color: var(--color-light);
    transition-property: backround-color;
    transition-duration: 250s;
    transition-timing-function: (0.4, 0, 0.2, 1);
    border: none;
    width: 200px;
    height: 50px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.hero-button:hover,
.hero-button:focus {
    background-color: rgb(57, 138, 201);
}
.backgrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);

}

.backgrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal-wrapper {

    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    height: 581px;
    background-color: #fff;
    border-radius: 4px;
}
.modal-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;

}*/




           