
:root {
    --main-font: Roboto, sans-serif;
    --secondary-font: Raleway, sans-serif;

    /*text color*/
     --accent-cl: ; 
    --main-txt-cl: #1E1E1E;
    --secondary-txt-cl: ;

    /*bacground colors*/
    --accent-cl: #FF6C00;
    --main-bg-cl: #F5F4FA;
    --secondary-bg-cl: #191c26;

}
body {
    font-family: var(--main-font);
    /* font-weight: 600; */
    font-size: 14px;
    line-height: 1.86;
    letter-spacing: 0.02em;
    color: var(--main-txt-cl);
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}
img {
    display: block;
    min-width: 100%;
    /* height: auto; */
}
.link {
text-decoration: none;
 color: currentColor; 
}
.list {
    list-style: none;
}
.section {
    padding-top: 130px;
    padding-bottom: 130px;
}
.container {
     outline: 1px solid red; 
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.link {
    font-family: var(--main-font);
    font-weight: 300;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    color: #555555;
}
.list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.btn {
    padding: 12px 20px;
    max-width: 200px;
    min-width: 160px;
    min-height: 40px;

    font-family: inherit;
    font-weight: 600;
        font-size: 12px;
        line-height: 1.33;
        letter-spacing: 0.09em;
        text-transform: uppercase;
        background-color: transparent;

        border: 1px solid var(--accent-cl);
        border-radius: 25px;
        background-color: transparent;
        cursor: pointer;
}
.btn:hover,
.btn:focus {
    background-color: var(--accent-cl);
    color: #F5F4FA;
}
.btn-mode-light {
    color: #1E1E1E;
}
.btn-mode-dark {
    color: #E0E0E0;
}
.slider-btn {
    width: 60px;
    height: 24px;
    padding: 0;
    font-weight: 600;
        font-size: 11px;
        line-height: 1.36;
        text-align: right;
        letter-spacing: 0.1em;
        color: #fff;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid var(--main-bg-cl);
        cursor: pointer;
}
.slider-btn-disable {
    text-align: left;
    color: rgba(157, 164, 189, 0.6);
    border-color: rgba(157, 164, 189, 0.6);
}


/* /*Шапка профілю */


.header {
    background-color: var(--main-bg-cl);
}
.header-container {
    display: flex;
    align-items: center;
}
.logo {
    margin-right: 71px;
}
.navigation-list {
    display: flex;
    align-items: center;
    gap: 30px;
}
.navigation-link {
    display: block;
        padding-top: 52px;
        padding-bottom: 52px;
}
.navigation-link,
.header-phone {
   
    font-family: Roboto;
        font-weight: 600;
        font-size: 12px;
        line-height: 1.33;
        letter-spacing: 0.1em;
        color: #555555;
}
.navigation-link:focus,
 .navigation-link:hover {
color: var(--accent-cl);
}
.header-gruop {
    display: flex;
        align-items: center;
    margin-left: auto;
}
 .heder-icons {
    fill: currentColor;
    margin-right: 5px;
} 
.header-phone {
    display: flex;
    align-items: center;
 padding-top: 52px;
padding-bottom: 52px; 
    margin-right: 30px;
}
.header-phone:hover,
.header-phone:focus {
    color: var(--accent-cl);
}


/* Секція герой */

.hero .container {
     background-image: url(../images/png/диван_1170x600_bw.png);  
     background-color: #191c26;                  
   max-width: 1280px;
   margin-left: auto;
   margin-right: auto;
background-repeat: no-repeat;
background-size: 120%;
   padding-top: 150px;
padding-bottom: 150px;
}
.hero .list {
     display: flex;
    align-items: center;
    gap: 30px; 
}
.hero .link {
font-weight: 600;
font-size: 11px;
line-height: 1.36;
letter-spacing: 0.2em;
color: #303030;
}
.hero .link:hover,
.hero .link:focus {
    color: var(--accent-cl);
}
.hero-group {
    width: 470px;
}
.hero .uppertitle {
    margin-bottom: 20px;
    display: flex;
    align-items: center;

    margin-bottom: 20px;
    font-family: Open Sans;
        font-weight: 600;
        font-size: 11px;
        line-height: 1.36;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color:rgba(157, 164, 189, 0.6);
}
 .uppertitle::before { 
    content: "";
    display: block;
    margin-right: 20px;
    width: 60px;
    height: 1px;
    background-color:  #191c26;
}
.hero .title {
    margin-bottom: 20px;
    font-family: var(--secondary-font);
        font-weight: 700;
        font-size: 72px;
        line-height: 1.18;
         letter-spacing: 0.5; 
        color: var(--main-bg-cl);
}
.hero .subtitle {
        font-weight: 400;
        font-size: 18px;
        line-height: 1.67;
        letter-spacing: 0.02em;
        color: #9da4bd;
        
}


/* Секція галерея*/

.gallery {
    background-color: var(--main-bg-cl);
}
.gallery .text {
    font-weight: 500;
}
.section-title {
    font-family: Raleway;
    font-weight: 700;
    font-size: 42px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    text-align: center;
        color: #303030;
        margin-bottom: 20px;
}
.gallery .list {
    display: flex;
}
.gallery-item {
   margin-right: 30px;
}
.gallery-img {
    border-radius: 12px;
    margin-bottom: 8px;
}
.accent {
    display: block;
text-align: center;
}
.gallery .text {
    text-align: center;
}
  .gallery-btn {
    margin-bottom: 20px;
    display: block;
  margin-right:  auto;
  margin-left:  auto;
  }

/*Секція про мене*/

.about .subtitle {
    margin-bottom: 20px;
font-family: Open Sans;
    font-weight: 600;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #303030
}
.about .description  {
    margin-bottom: 20px;
    font-weight: 400;
        font-size: 18px;
        line-height: 1.67;
        letter-spacing: 0.02em;
        color: #555555
}
.about .about-group {
    /* width: 1005px; */
    margin-right: auto;
    margin-left: auto;
}

/* Секція головний зал*/


.main-hall {
    background-color: var(--main-bg-cl);
    
}

 .main-hall .uppertitl {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
    margin-bottom: 20px;
        font-family: Open Sans;
            font-weight: 600;
            letter-spacing: 0.2em;
            text-transform: uppercase;
            color: #555555
}
.main-hall .uppertitl::before {
    content: "";
    display: block;
    margin-right: 20px;
    width: 60px;
    height: 1px;
    background-color: #191c26;
}

     .main-hall-item {
         font-family: Roboto;
            font-weight: 300;
            /* font-size: 18px;
            line-height: 1.67; */
            letter-spacing: 0.1em;
            color: #555555; 
            margin-bottom: 10px;
     }
         .main-hall-item:last-child {
            margin-bottom: 20px;
         }
.main-hall-text {
font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
}

/* Футер*/
.footer-container {
    padding-top: 60px;
    padding-bottom: 40px;
    display: flex;
    align-items: baseline; 
    background-color: var(--secondary-bg-cl);
}
  .restaurant-name {
    display: block;
        padding-bottom: 20px; 
        font-family: Raleway, sans-serif;
         font-weight: 700;
        font-size: 26px;
        line-height: 1.17; 
     color: var(--main-bg-cl);
 } 
 .address {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;

 }
.footer-list {
    margin-bottom: 12px;
}
.footer-maps {
fill: currentColor;
    margin-right: 5px;
}
.footer-gruop {
    display: flex;
    align-items: center;
    gap: 40px;
     margin-top: 30px; 
}
.footer-phone {
    display: flex;
    align-items: center;
}
.footer-icons {
    fill: currentColor;
        margin-right: 5px;
}
 .footer .link {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
color: rgba(157, 164, 189, 0.6);
} 


.footer .link:hover,
.footer .link:focus {
    color: var(--accent-cl);
}
.ellipse-container {
  padding-left: 200px;
}
.ellipse-container .item {
    /* margin-bottom: 10px; */
}
           