
:root {
    --main-font: Roboto, sans-serif;
    --secondary-font: Raleway, sans-serif;

    /*text color*/
     --accent-cl: ; 
    --main-txt-cl: #1E1E1E;
    --secondary-txt-cl: ;

    /*bacground colors*/
    --accent-cl: #FF6C00;
    --main-bg-cl: #F5F4FA;
    --secondary-bg-cl: ;

}
body {
    font-family: var(--main-font);
    font-size: 14px;
    line-height: 1.86;
    letter-spacing: 0.02em;
    color: var(--main-txt-cl);
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}
img {
    display: block;
}
.link {
text-decoration: none;
 color: currentColor; 
}
.list {
    list-style: none;
}
.container {
    outline:  1px solid  red;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.link {
    font-family: var(--main-font);
    font-weight: 300;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    color: #555555;
}
.list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.btn {
    font-family: inherit;
    font-weight: 600;
        font-size: 12px;
        line-height: 1.33;
        letter-spacing: 0.09em;
        text-transform: uppercase;
        background-color: transparent;
}
.btn:hover,
.btn:focus {
    background-color: #555555;
    color: #F5F4FA;
}
.btn-mode-light {
    color: #1E1E1E;
}
.btn-mode-dark {
    color: #E0E0E0;
}
.slider-btn {
    font-weight: 600;
        font-size: 11px;
        line-height: 1.36;
        text-align: right;
        letter-spacing: 0.1em;
        color: #fff;
        background-color: transparent;
}
.slider-btn-disable {
    text-align: left;
    color: rgba(157, 164, 189, 0.6);
}


/* /*Шапка профілю */


.header {
    background-color: var(--main-bg-cl);
}
.header-container {
    display: flex;
    align-items: center;
}
.logo {
    margin-right: 71px;
}
.navigation-list {
    display: flex;
    align-items: center;
    gap: 30px;
}
.navigation-link,
.header-phone {
    font-family: Roboto;
        font-weight: 300;
        font-size: 12px;
        line-height: 1.33;
        letter-spacing: 0.1em;
        color: #555555;
}
.header-gruop {
    margin-left: auto;
}
/* Секція герой */

.hero {
    background-color: #191c26;
}
.hero .link {
font-weight: 600;
font-size: 11px;
line-height: 1.36;
letter-spacing: 0.2em;
color: #303030;
}
.hero .link:hover,
.hero .link:focus {
    color: var(--accent-cl);
}
.hero .uppertitle {
    font-family: Open Sans;
        font-weight: 600;
        font-size: 11px;
        line-height: 1.36;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color:rgba(157, 164, 189, 0.6);
}
.hero .title {
    font-family: var(--secondary-font);
        font-weight: 700;
        font-size: 72px;
        line-height: 1.18;
        /* letter-spacing: 0.5; */
        color: #fff;
}
.hero .subtitle {
    
        font-weight: 400;
        font-size: 18px;
        line-height: 1.67;
        letter-spacing: 0.02em;
        color: #9da4bd;
        
}

/* Секція галерея*/

.gallery {
    background-color: var(--main-bg-cl);
}

.section-title {
    font-family: Raleway;
    font-weight: 700;
    font-size: 42px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    text-align: center;
        color: #303030;
}


/*Секція про мене*/

.about .subtitle {
font-family: Open Sans;
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #303030
}
.about .description  {
    font-weight: 400;
        font-size: 18px;
        line-height: 1.67;
        letter-spacing: 0.02em;
        color: #555555
}

/* Секція головний зал*/


 .main-hall .uppertitl {
    
        font-family: Open Sans;
            font-weight: 600;
            font-size: 11px;
            line-height: 1.36;
            letter-spacing: 0.2em;
            text-transform: uppercase;
            color: #555555
}


     .main-hall-item {
         font-family: Roboto;
            font-weight: 300;
            font-size: 12px;
            line-height: 1.33;
            letter-spacing: 0.1em;
            color: #555555; 
     }
.main-hall-text {
font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
}

/* Футер*/

.footer .link {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
    color: #303030;
}

.footer .link:hover,
.footer .link:focus {
    color: var(--accent-cl);
}


           